*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  text-align: center;
  height: 5rem;
  padding-right: 5rem;
}
header{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;

}
ul{
  display: flex;
  list-style-type: none;
}

ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}

li a::after{
  content:'';
  display: block;
  height:4px;
  width:0;
  background-color: #c4c4f7;
  transition:all .5s
}
li a:hover::after{
  width: 100%;
 
}

.logo img{
  float: left;
  margin-left: 0px 0px 0px 30px;
}
main{
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.hero-img{
  max-width: 670px;
  height: 50px
}
.content-left{
  font-size: large;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: x-large;
  position: relative;
}
p{
  padding-top: .5rem;
}
.content-right{
  height: 200px;
  text-align: center;
}
h1{
  font-size: 4rem;
  padding-top: 3rem;
}
h2{
  font-size:4rem
}
h3{
  font-size: 4rem;
  padding-bottom: 1.3rem;
}
.center{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.front{
  opacity: 30%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.back{
  opacity: 100%;
}
.extra{
  background-color: lightgray;
  text-align: center;
  font-size: 16px;
  padding: 10px 22px;
  display: inline-block;
  text-align: center;
}
.back{
  padding-top: 1rem;
}
h4{
  text-align: center;
  box-sizing: content-box;
  background-color: lightblue;
  padding-top:6rem;
  justify-content: center;
  align-items: center;
  vertical-align: 3rem;
  padding-bottom: 4rem;
}
.about{
  text-align: center;
  flex-wrap: wrap;
  box-sizing: content-box;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  vertical-align: 3rem;
  font-size: 5rem;
}
.info{
  display: flex;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;

  
}
.people{
  object-fit: cover;
  padding-left: 14rem;
}
.abt{
  padding-left: 23rem;
  font-size: 2rem;
  padding-top: 4rem;
}
.text{
  width: 49rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 20rem;


}
