*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  scroll-behavior: smooth
}
.logo{
  text-align: center;
  height: 5rem;
  padding-right: 5rem;
}
header{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: lightblue;
  position:sticky;
  top: 0

}
ul{
  display: flex;
  list-style-type: none;
  padding-left: 34rem;
}

ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}
ul li a:hover{
  color: #f8f8f8;
}


.banner:hover{
  animation: pulse 1s 
      infinite;
  animation-timing-function: linear;  
  transform: scale(1.1);
  outline-offset: 1rem;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
  }


li a::after{
  content:'';
  display: block;
  height:4px;
  width:0;
  background-color: #c4c4f7;
  transition:all .5s
}
li a:hover::after{
  width: 100%;
}

.logo img{
  float: left;
  margin-left: 0px 0px 0px 30px;
}
main{
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.hero-img{
  max-width: 670px;
  height: 50px
}
.content-left{
  font-size: large;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: x-large;
  position: relative;
}
p{
  padding-top: .5rem;
}
.content-right{
  height: 200px;
  text-align: center;
}
.math{
  font-size: 5rem;
  padding-top: 3rem;
  font-family: 'Anek Malayalam', sans-serif;
  font-weight: bolder;
}
.main{
  font-size:4rem
}
.read{
  font-size:5rem;
  font-family: 'Anek Malayalam', sans-serif;
  font-weight: bolder;
}
.succ{
  font-size: 5rem;
  padding-bottom: 1.3rem;
  font-family: 'Anek Malayalam', sans-serif;
  font-weight: bolder;
}
.center{
  font-family: 'Archivo', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
}
.front{
  opacity: 30%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.back{
  opacity: 100%;
}
.extra{
  background-color: lightgray;
  text-align: center;
  font-size: 16px;
  padding: 10px 22px;
  display: inline-block;
  text-align: center;
}
.back{
  padding-top: 1rem;
}
h1{
  text-align: center;
  box-sizing: content-box;
  background-color: rgb(218, 238, 245);
  padding-top:6rem;
  justify-content: center;
  align-items: center;
  vertical-align: 3rem;
  padding-bottom: 4rem;
}
.about{
  text-align: center;
  flex-wrap: wrap;
  box-sizing: content-box;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  align-items: center;
  vertical-align: 3rem;
  font-size: 5rem;
  
}
.info{
  display: flex;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;

  
}
.people{
  object-fit: cover;
  position:relative; left:5rem; 
  


}
.abt{
  padding-left: 20rem;
  font-size: 4rem;
  padding-top:4rem;
  padding-bottom: 1.6rem;
  
}
.text{
  width:40rem;
  padding-left: 3rem;
  font-family: 'Saira', sans-serif;
  position:relative; left:5rem; top:-3rem; 
}
.MR{
  padding-bottom: 2.5rem;
}
.ASP{
  padding-bottom: 2.5rem;
}
.this{
  background-color: rgb(218, 238, 245);
}
.MS{
  font-family: 'Anek Malayalam', sans-serif;
  width: 90rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h3{
  text-align: center;
  box-sizing: content-box;
  background-color: rgb(218, 238, 245);
  padding-top:6rem;
  justify-content: center;
  align-items: center;
  vertical-align: 3rem;
  padding-bottom: 4rem;
}
.diff{
  text-align: left;
  background-color: lightgray;
  font-size: 5rem;
  padding: 10px 22px;
  background-color: lightskyblue;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;

}
.kid{
  position:relative; left:5rem; top:4rem; 
  border-radius: 15px;
}
.word{
  position:relative; left:45rem; top:-10rem; 
  font-family: 'Saira', sans-serif;
  width: 35rem;
  font-size: 2rem;
}
.more{
  background-color: rgb(218, 238, 245);

}
.kids{
  position:relative; left:45rem; top:-2rem; 
  border-radius: 15px;
}
.apply{
  position:relative; left:5rem; top:-15rem; 
  font-family: 'Saira', sans-serif;
  width: 35rem;
  font-size: 2rem;
  text-align: center;
}
.how{
  position:relative; left:5rem; top:-5rem; 
  border-radius: 15px;
}
.crazy{
  position:relative; left:50rem; top:-18rem; 
  font-family: 'Saira', sans-serif;
  width: 35rem;
  font-size: 2rem;
}

.program{
  text-align: left;
  font-size: 5rem;
  padding: 10px 22px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  padding-left: 6.8rem;

}
.prgm{
  overflow: hidden;
  position: relative;
  background-color: rgb(218, 238, 245);
}
.circle{
  text-align: center;
  padding-top: 4rem;
}
.m{
  position: absolute; left:13.5rem; top:15rem;
  font-size: 3rem; 
}
.ath{
  position: absolute; left:7rem; top:20rem;
  font-size:1.5rem; 
  width: 20rem;
  text-align: center;
}
.c{
  position: absolute; left:41.7rem; top:15rem;
  font-size: 3rem; 
}
.lass{
  position: absolute; left:35rem; top:20rem;
  font-size:1.5rem; 
  width: 20rem;
  text-align: center;
}
.r{
  position: absolute; left:68.5rem; top:15rem;
  font-size: 3rem; 
}
.ead{
  position: absolute; left:63.4rem; top:20rem;
  font-size:1.5rem; 
  width: 20rem;
  text-align: center;
}
.blank{

  background-color: rgb(218, 238, 245);
  padding-top:6rem;
  vertical-align: 3rem;
  padding-bottom: 4rem;
}
.frq{
  background-color: rgb(218, 238, 245);
  text-align: left;
  font-size: 5rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  padding-left: 4rem;
}
.smile{
  position: relative; left:2rem; top:2.5em;
  scale: (0.5,0.5);
  border-radius: 15px;
}
.form-parent{
  position: relative; left:5rem; top:2.5em;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.5rem;

}
.hero-form-input{
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
}
.mtext{
  position: relative; left:50rem; top:-30rem;
  width: 35rem;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5rem;
}
.q{
  font-weight:bolder;
}
.qq{
  font-weight:bolder;
}
.qqq{
  font-weight:bolder;
}
.qqqq{
  font-weight:bolder;
}
.footer{
  text-align: center;
  background-color: rgb(125, 228, 241);
  padding-top: 2rem;
}
.footer-legal{
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.logos{
  position: relative; left:0rem; top:-1rem;
}
.text-box{
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 2rem;
  text-align: center;
  justify-content: center;
   

}
input[type=boxy]:focus {
  background-color: lightblue;
}
.booo {border-radius: 4px;}

.booo{
  background-color:rgb(129, 206, 203);
  width: 5rem;
  height: 3rem;

}

.booo:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.MS:hover{
  background-color: #f8f8f8;
}

  