*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  text-align: center;
  height: 5rem;
}
header{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;

}
ul{
  display: flex;
  list-style-type: none;
}

ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block;
}

li a::after{
  content:'';
  display: block;
  height:4px;
  width:0;
  background-color: #c4c4f7;
  transition:all .5s
}
li a:hover::after{
  width: 100%;
}

.logo img{
  float: left;
  margin-left: 0px 0px 0px 30px;
}
main{

  border: 5px solid blue;

  align-items: center;
  justify-content: center;
  background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Kumon_Students.jpg/1200px-Kumon_Students.jpg');
  opacity: 20%;
}
.hero-img{
  max-width: 670px;
  height: 50px
}
.content-left{
  font-size: large;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: x-large;
}
p{
  padding-top: .5rem;
}
.content-right{
  height: 200px;
  text-align: center;
}
h1{
  font-size: 2rem;
  padding-top: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 2rem;
  padding-bottom: 1.3rem;
}
.center{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
}